<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">



	<link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Noto+Sans+HK&family=Permanent+Marker&display=swap" rel="stylesheet">


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

</head>
<title>Tactical Audio</title>

<body>

	<section class="s1">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1>Tactical Audio</h1>
			</div>



			<div class="intro-wrapper">
				<div class="nav-wrapper">
					<div class="dots-wrapper">
						<div id="dot-1" class="browser-dot">
							
						</div>
						<div id="dot-2" class="browser-dot">
							
						</div>
						<div id="dot-3" class="browser-dot">
							
						</div>
					</div>

					
				</div>

				<div class="left-column">
					<!-- <img id="profile-pic" src="images/profile.jpg"> -->
					<!-- <h5 style="text-align: center; line-height: 0;">Personalize Theme</h5> -->
					<h4>REQUIREMENT FOR VOICEOVER</h4>
					<div id="skills">
						<ul>
							<li>Script & Dialogues</li>
							<li>Language</li>
							<li>Time Duration</li>
							<li>Accent</li>
							
						</ul>
					</div>
					
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<a href="https://wa.me/919867823534"><H3> WHATSAPP NOW </H3></a>
							<H4> +919867823534</H4>
								
								<p>we offer quick, efficient, cost effective and most reliable <b>voice over</b> services</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s2">
		<div class="main-container">
			<div class="about-wrapper">
				<div class="about-me">
					
					

					<h4>CHARGES</h4>
					<!-- <p>Photographer, graphic designer, content creator and aspiring web developer.</p> -->

					<div id="skills">
						<ul>
							<li>0-30 sec  1000 Rs</li>
							<li>30-60 sec 2000 Rs</li>
							<li>1000 Rs per 30 sec</li>
							<li>Same day delivery 1000 Rs extra</li>
							
						</ul>
					</div>


				<h4>NOTE:</h4>

					<div id="skills">
						<ul>
							Editing will be done by the client,
							we are not resposible for any editing.
							
						</ul>
					</div>

					<h4>Terms and condition</h4>
					<p>Charges will be regular if delivery is not urgent.<br>
						if in case of urgency, extra fee will be added .<br>
						50% of payment in advance and balance amount on time of delivery.<br>
						payment will be taken via Google pay or Phone pay.
				</p>

					

				</div>

				

			
				</div>
			</div>
		</div>
	</section>


	

</body>
</html>